@use '../Utils/utils.scss' as *;

.list-items-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 68px;
}

.list-tiem-no-results {
	margin: 35vh 0;
	width: 100%;

	h2 {
		color: $secondary-color;

		&:after {
			content: ' :(';
		}

		@media only screen and (min-width: $breakpoint-medium) {
			font-size: calc($heading-font-size*2);
		}
	}
}